.stackItem {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stackItem--product {
  width: 100%;
}

.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}
